{% block content_block_label -%}
{%- endblock content_block_label -%}

{% block content_block_widget -%}
    <div id="{{ id }}_container"></div>
    <button id="{{ id }}-add-section" type="button" class="btn"><i class="fa fa-plus"></i> section</button>
    <textarea {{ block('widget_attributes') }} style="display: none;">{{ value ?: '[]' }}</textarea>
    <hr/>
    <div id="{{ id }}-section-modal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Section name:</label>
                        <input type="text" name="name" value="" placeholder="Enter a name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Section ID:</label>
                        <input type="text" name="id" value="" placeholder="Enter an ID" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Relationship tags:</label>
                        <select name="tags" class="no-chosen after-chosen form-control js-tag-{{ id }}" data-placeholder="Choose tags" multiple>
                            {% set data = app.db.active('RelationshipTag') %}
                            {% for itm in data %}
                                <option value="{{ itm.id }}">{{ itm.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary m-t-n-xs js-save-section-{{ id }}"><strong>Save</strong></button>
                    <button type="button" class="btn btn-sm pull-right m-t-n-xs" data-dismiss="modal"><strong>Close</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div id="{{ id }}-block-modal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" name="blockId" value="" class="form-control">
                    <input type="text" name="sectionId" value="" class="form-control">
                    <input type="text" name="id" value="" class="form-control">

                    <div class="form-group">
                        <label>Block name:</label>
                        <input type="text" name="name" value="" placeholder="Enter a name" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary m-t-n-xs js-save-block-{{ id }}"><strong>Save</strong></button>
                    <button type="button" class="btn btn-sm pull-right m-t-n-xs" data-dismiss="modal"><strong>Close</strong></button>
                </div>
            </div>
        </div>
    </div>

    <script id="{{ id }}_section" type="text/x-handlebars-template">{% include 'handlebars/widgets/content-block/section.twig' %}</script>
    <script id="{{ id }}_block" type="text/x-handlebars-template">{% include 'handlebars/widgets/content-block/block.twig' %}</script>
    <script id="{{ id }}_sidebar" type="text/x-handlebars-template">{% include 'handlebars/widgets/content-block/sidebar.twig' %}</script>
    <script>
        var _{{ id }}_template_section = Handlebars.compile($("#{{ id }}_section").html());
        var _{{ id }}_template_block = Handlebars.compile($("#{{ id }}_block").html());
        var _{{ id }}_template_sidebar = Handlebars.compile($("#{{ id }}_sidebar").html());
        var _{{ id }}_blocks = {{ app.blocks.data|json_encode|raw }};
        var _{{ id }}_value = {{ app.blocks.value(value)|json_encode|raw }};

        $(function () {
            $('.js-blocks-{{ id }}').sortable({
                connectWith: ".js-blocks-{{ id }}",
                handle: ".panel-heading",
            }).disableSelection();
            $('#{{ id }}-section-modal').on('shown.bs.modal', function () {
                $('.js-tag-{{ id }}').chosen({
                    allow_single_deselect: true
                });
            });
            $(document).on('click', '#{{ id }}-add-section', function () {
                $('#{{ id }}-section-modal [name=id]').val('content');
                $('#{{ id }}-section-modal [name=name]').val('Content')
                $('#{{ id }}-section-modal select').val('').trigger("chosen:updated");
                $("#{{ id }}-section-modal").modal();
            });
            $(document).on('click', '.js-save-section-{{ id }}', function () {
                _{{ id }}_value.unshift({
                    id: Math.random().toString(36).substr(2, 9),
                    title: $('#{{ id }}-section-modal [name=name]').val(),
                    attr: $('#{{ id }}-section-modal [name=id]').val(),
                    tags: $('#{{ id }}-section-modal [name=tags]').val() ? $('#{{ id }}-section-modal [name=tags]').val(): [],
                    blocks: [],
                });
                $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
                $('#{{ id }}-section-modal').modal('hide');
                render{{ id }}();
            });

            $(document).on('change', '.js-section-{{ id }} .js-add-block', function () {
                var block = getById{{ id }}(_{{ id }}_blocks, $(this).val());
                $('#{{ id }}-block-modal [name=blockId]').val(block.id);
                $('#{{ id }}-block-modal [name=sectionId]').val($(this).closest('.js-section-{{ id }}').data('id'));
                $('#{{ id }}-block-modal [name=id]').val('');
                $('#{{ id }}-block-modal [name=name]').val(block.title);

                $("#{{ id }}-block-modal").modal();
                $(this).val('');
            });

            $(document).on('click', '.js-save-block-{{ id }}', function () {
                var section = getById{{ id }}(_{{ id }}_value, $('#{{ id }}-block-modal [name=sectionId]').val());
                if (section) {
                    var obj = getById{{ id }}(section.blocks, $('#{{ id }}-block-modal [name=id]').val());
                    if (!obj) {
                        var block = getById{{ id }}(_{{ id }}_blocks, $('#{{ id }}-block-modal [name=blockId]').val());
                        if (block) {
                            var obj = {
                                id: Math.random().toString(36).substr(2, 9),
                                title: $('#{{ id }}-block-modal [name=name]').val(),
                                block: $('#{{ id }}-block-modal [name=blockId]').val(),
                                items: block.items,
                                values: {},
                            };
                            for (var idx in block.items) {
                                var itm = block.items[idx];
                                obj.values[itm.id] = '';
                            }
                            section.blocks.unshift(obj);
                        }
                    }
                }
                $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
                $('#{{ id }}-block-modal').modal('hide');
                render{{ id }}();
            });

            $(document).on('click', '#{{ id }}_container .js-delete-block', function () {
                var secId = $(this).closest('.js-section').data('id');
                var blkId = $(this).closest('.js-block').data('id');

                var section = getById{{ id }}(_{{ id }}_value, secId);
                for (var idx in section.blocks) {
                    var itm = section.blocks[idx];
                    if (itm.id == blkId) {
                        section.blocks.splice(idx, 1)
                    }
                }
                render{{ id }}();
                assemble{{ id }}();
                return false;
            });
            $(document).on('click', '#{{ id }}_container .js-delete-section', function () {
                var secId = $(this).closest('.js-section').data('id');

                for (var idx in _{{ id }}_value) {
                    var itm = _{{ id }}_value[idx];
                    if (itm.id == secId) {
                        _{{ id }}_value.splice(idx, 1)
                    }
                }
                render{{ id }}();
                assemble{{ id }}();
                return false;
            });
            render{{ id }}();
        });

        function render{{ id }}() {
            render_content{{ id }}();
            render_sidebar{{ id }}()
        };

        function render_content{{ id }}() {
            $("#{{ id }}_container").empty();

            for (var idx in _{{ id }}_value) {
                var itm = _{{ id }}_value[idx];
                $("#{{ id }}_container").append(_{{ id }}_template_section({
                    id: '{{ id }}',
                    blocks: _{{ id }}_blocks,
                    section: itm,
                }));

                for (var idxBlk in itm.blocks) {
                    var block = itm.blocks[idxBlk];
                    $('.js-section-{{ id }}-' + itm.id + ' .js-blocks').append(_{{ id }}_template_block({
                        id: '{{ id }}',
                        block: block,
                    }));
                }

                if (!itm.blocks.length) {
                    $('.js-section-{{ id }}-' + itm.id + ' .js-blocks .js-no-blocks').fadeIn();
                }
            }

            $('#{{ id }}_container').sortable({
                handle: '.panel-heading',
                items: '.panel-default',
                stop: function (event, ui) {
                    assemble{{ id }}();
                },
//                placeholder: {
//                    element: function (currentItem) {
//                        return $('<tr><td colspan="3" style="background: lightyellow; height: ' + $(currentItem).height() + 'px">&nbsp;</td></tr>')[0];
//                    },
//                    update: function (container, p) {
//                        return;
//                    }
//                }
            });

            $('#{{ id }}_container select.after-chosen').chosen({
                allow_single_deselect: true
            });

            $('#{{ id }}_container .js-date').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                scrollInput: false,
            });

            $('#{{ id }}_container .js-datetime').datetimepicker({
                timepicker: true,
                format: 'Y-m-d H:i',
                scrollInput: false,
                step: 5,
            });

            $('#{{ id }}_container .js-time').datetimepicker({
                timepicker: true,
                datepicker: false,
                format: 'H:i',
                scrollInput: false,
                step: 5,
            });

            $('#{{ id }}_container .js-redactor').redactor({
                plugins: ['filePicker', 'imagePicker', 'video', 'table'],
                minHeight: 300,
                changeCallback: function() {
                    assemble{{ id }}();
                },
            });

            $('.js-elem').on('change', function () {
                assemble{{ id }}();
            });
            {#$('.js-cbi-item').on('keyup', function () {
                assemble{{ id }}();
            });#}
        };

        function render_sidebar{{ id }}() {
            $('.sidebar{{ id }}').remove();
            $('body').append(_{{ id }}_template_sidebar({
                className: 'sidebar{{ id }}',
            }));
            $('.sidebar{{ id }} .panel-body').append('<div class="jstree"></div>');

            if ($(window).scrollTop() > 150) {
                $('.sidebar{{ id }}').css('top', 0);
            } else {
                $('.sidebar{{ id }}').css('top', '150px');
            }
            $(window).on('scroll resize', function () {
                if ($(window).scrollTop() > 150) {
                    $('.sidebar{{ id }}').css('top', 0);
                } else {
                    $('.sidebar{{ id }}').css('top', '150px');
                }
            });

            var data = [];
            for (var idxSec in _{{ id }}_value) {
                var section = _{{ id }}_value[idxSec];
                var obj = {
                    text: section.title,
                    state: {
                        opened: true,
                        selected: false
                    },
                    children: []
                };
                for (var idxBlk in section.blocks) {
                    var block = section.blocks[idxBlk];
                    obj.children.push({
                        text: block.title,
                    })
                }
                data.push(obj);
            }

            $('.sidebar{{ id }} .jstree').jstree({
                core: {
                    data: data,
                },
                'plugins': ['types'],
                'types': {
                    'default': {
                        'icon': 'fa fa-file-text-o'
                    },
                },
            }).on('ready.jstree',
                function() {
                    setTimeout($.proxy(function () {
                        $('.scroll-content').slimscroll({
                            height: Math.min($(window).height() - 50, $('.sidebar{{ id }}').outerHeight()) + 'px',
                        })
                    }, this), 100);
                }
            );
        };

        function assemble{{ id }}() {
            $.each($('#{{ id }}_container .js-section'), function (idx, itm) {
                var section = getById{{ id }}(_{{ id }}_value, $(itm).data('id'));
                $.each($(itm).find('.js-block'), function (idxBlk, itmBlk) {
                    var block = getById{{ id }}(section.blocks, $(itmBlk).data('id'));
                    $.each($(itmBlk).find('.js-elem'), function (idxElem, itmElem) {
                        if ($(itmElem).attr('type') == 'checkbox') {
                            block.values[$(itmElem).attr('id')] = $(itmElem).is(':checked') ? 1 : 0;
                        } else {
                            block.values[$(itmElem).attr('id')] = $(itmElem).val();
                        }
                    });
                });
            });
            $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
        };

        function getById{{ id }}(data, id) {
            for (var idx in data) {
                var itm = data[idx];
                if (itm.id == id) {
                    return itm;
                }
            }
            return null;
        };

        function cleanString{{ id }}(sections) {
            sections = JSON.parse(JSON.stringify(sections));
            for (var idxSection in sections) {
                var section = sections[idxSection];
                for (var idxBlock in section.blocks) {
                    var block = section.blocks[idxBlock];
                    delete block.items;
                }
            }
            return JSON.stringify(sections)
        };
    </script>
{%- endblock content_block_widget -%}