{% block content_block_label -%}
{%- endblock content_block_label -%}

{% block content_block_widget -%}
    <div id="{{ id }}_container"></div>
    <button id="{{ id }}_add" type="button" class="btn" data-toggle="modal" data-target="#{{ id }}-section-modal"><i class="fa fa-plus"></i> section</button>
    <textarea {{ block('widget_attributes') }} style="display: none;">{{ value ?: '[]' }}</textarea>
    <hr/>
    <div id="{{ id }}-section-modal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Section name:</label>
                        <input type="text" name="name" value="" placeholder="Enter a name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Section ID:</label>
                        <input type="text" name="id" value="" placeholder="Enter an ID" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Relationship tags:</label>
                        <select name="tags" class="no-chosen form-control js-tag-{{ id }}" data-placeholder="Choose tags" multiple>
                            {% set data = app.db.active('RelationshipTag') %}
                            {% for itm in data %}
                                <option value="{{ itm.id }}">{{ itm.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary m-t-n-xs js-save-{{ id }}"><strong>Save</strong></button>
                    <button type="button" class="btn btn-sm pull-right m-t-n-xs" data-dismiss="modal"><strong>Close</strong></button>
                </div>
            </div>
        </div>
    </div>

    <script id="{{ id }}_section" type="text/x-handlebars-template">{% include 'handlebars/contents/content-block-section.twig' %}</script>
    <script id="{{ id }}_block" type="text/x-handlebars-template">{% include 'handlebars/contents/content-block-section-block.twig' %}</script>
    <script id="{{ id }}_overview" type="text/x-handlebars-template">{% include 'handlebars/contents/content-block-overview.twig' %}</script>
    <script>
        var _{{ id }}_template_section = Handlebars.compile($("#{{ id }}_section").html());
        var _{{ id }}_template_block = Handlebars.compile($("#{{ id }}_block").html());
        var _{{ id }}_template_overview = Handlebars.compile($("#{{ id }}_overview").html());
        var _{{ id }}_blocks = {{ app.blocks.data|json_encode|raw }};
        var _{{ id }}_value = {{ app.blocks.value(value)|json_encode|raw }};

        $(function () {
            $('.js-blocks-{{ id }}').sortable({
                connectWith: ".js-blocks-{{ id }}",
                handle: ".panel-heading",
            }).disableSelection();


            $('#{{ id }}-section-modal').on('shown.bs.modal', function () {
                $('.js-tag-{{ id }}').chosen({
                    allow_single_deselect: true
                });
            });

            $('#{{ id }}_add').click(function () {
                $('#{{ id }}-section-modal [name=id]').val('content');
                $('#{{ id }}-section-modal [name=name]').val('Content')
                $('#{{ id }}-section-modal select').val('').trigger("chosen:updated");
            });

            $('.js-save-{{ id }}').click(function () {
                _{{ id }}_value.unshift({
                    id: Math.random().toString(36).substr(2, 9),
                    title: $('#{{ id }}-section-modal [name=name]').val(),
                    attr: $('#{{ id }}-section-modal [name=id]').val(),
                    tags: $('#{{ id }}-section-modal [name=tags]').val() ? $('#{{ id }}-section-modal [name=tags]').val(): [],
                    blocks: [],
                });
                $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
                $('#{{ id }}-section-modal').modal('hide');
                render{{ id }}();
            });

            $(document).on('change', '.js-section-{{ id }} .js-add-block', function () {
                var section = getById{{ id }}(_{{ id }}_value, $(this).closest('.js-section-{{ id }}').data('id'));
                if (section) {
                    var block = getById{{ id }}(_{{ id }}_blocks, $(this).val());
                    if (block) {
                        var items = block.items;
                        var obj = {
                            id: Math.random().toString(36).substr(2, 9),
                            title: block.title,
                            block: block.id,
                            items: items,
                            values: {},
                        };
                        for (var idx in items) {
                            var item = items[idx];
                            obj.values[item.id] = '';
                        }
                        section.blocks.unshift(obj);
                    }
                }
                $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
                $(this).val('');
                render{{ id }}()
            });

            render{{ id }}();
        });

        function render{{ id }}() {
            $("#{{ id }}_container").empty();

            for (var idx in _{{ id }}_value) {
                var itm = _{{ id }}_value[idx];
                $("#{{ id }}_container").append(_{{ id }}_template_section({
                    id: '{{ id }}',
                    blocks: _{{ id }}_blocks,
                    section: itm,
                }));

                for (var idxBlk in itm.blocks) {
                    var block = itm.blocks[idxBlk];
                    $('.js-section-{{ id }}-' + itm.id + ' .js-blocks').append(_{{ id }}_template_block({
                        id: '{{ id }}',
                        block: block,
                    }));
                }

                if (!itm.blocks.length) {
                    $('.js-section-{{ id }}-' + itm.id + ' .js-blocks .js-no-blocks').fadeIn();
                }
            }

            $('#{{ id }}_container').sortable({
                handle: '.panel-heading',
                items: '.panel-default',
                stop: function (event, ui) {
                    assemble{{ id }}();
                },
//                placeholder: {
//                    element: function (currentItem) {
//                        return $('<tr><td colspan="3" style="background: lightyellow; height: ' + $(currentItem).height() + 'px">&nbsp;</td></tr>')[0];
//                    },
//                    update: function (container, p) {
//                        return;
//                    }
//                }
            });

            $('#{{ id }}_container select.after-chosen').chosen({
                allow_single_deselect: true
            });

            $('#{{ id }}_container .js-date').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                scrollInput: false,
            });

            $('#{{ id }}_container .js-datetime').datetimepicker({
                timepicker: true,
                format: 'Y-m-d H:i',
                scrollInput: false,
                step: 5,
            });

            $('#{{ id }}_container .js-time').datetimepicker({
                timepicker: true,
                datepicker: false,
                format: 'H:i',
                scrollInput: false,
                step: 5,
            });

            $('#{{ id }}_container .js-redactor').redactor({
                plugins: ['filePicker', 'imagePicker', 'video', 'table'],
                minHeight: 300,
                changeCallback: function() {
                    assemble{{ id }}();
                },
            });


            $('.js-elem').on('change', function () {
                assemble{{ id }}();
            });
            {#$('.js-cbi-item').on('keyup', function () {
                assemble{{ id }}();
            });#}

            sidebar{{ id }}();
        };

        function sidebar{{ id }}() {
            $('.overview{{ id }}').remove();
            $('body').append(_{{ id }}_template_overview({
                className: 'overview{{ id }}',
            }));
            $('.overview{{ id }} .panel-body').append('<div class="jstree"></div>');

            if ($(window).scrollTop() > 150) {
                $('.overview{{ id }}').css('top', 0);
            } else {
                $('.overview{{ id }}').css('top', '150px');
            }
            $(window).on('scroll resize', function () {
                if ($(window).scrollTop() > 150) {
                    $('.overview{{ id }}').css('top', 0);
                } else {
                    $('.overview{{ id }}').css('top', '150px');
                }
            });

            var data = [];
            for (var idxSec in _{{ id }}_value) {
                var section = _{{ id }}_value[idxSec];
                var obj = {
                    text: section.title,
                    state: {
                        opened: true,
                        selected: false
                    },
                    children: []
                };
                for (var idxBlk in section.blocks) {
                    var block = section.blocks[idxBlk];
                    obj.children.push({
                        text: block.title,
                    })
                }
                data.push(obj);
            }

            $('.overview{{ id }} .jstree').jstree({
                core: {
                    data: data,
                },
                'plugins': ['types'],
                'types': {
                    'default': {
                        'icon': 'fa fa-file-text-o'
                    },
                },
            }).on('ready.jstree',
                function() {
                    setTimeout($.proxy(function () {
                        $('.scroll-content').slimscroll({
                            height: Math.min($(window).height() - 50, $('.overview{{ id }}').outerHeight()) + 'px',
                        })
                    }, this), 100);
                }
            );


        };

        function assemble{{ id }}() {
            $.each($('#{{ id }}_container .js-section'), function (idx, itm) {
                var section = getById{{ id }}(_{{ id }}_value, $(itm).data('id'));
                $.each($(itm).find('.js-block'), function (idxBlk, itmBlk) {
                    var block = getById{{ id }}(section.blocks, $(itmBlk).data('id'));
                    $.each($(itmBlk).find('.js-elem'), function (idxElem, itmElem) {
                        if ($(itmElem).attr('type') == 'checkbox') {
                            block.values[$(itmElem).attr('id')] = $(itmElem).is(':checked') ? 1 : 0;
                        } else {
                            block.values[$(itmElem).attr('id')] = $(itmElem).val();
                        }
                    });
                });
            });
            $('#{{ id }}').val(cleanString{{ id }}(_{{ id }}_value));
        };

        function getById{{ id }}(data, id) {
            for (var idx in data) {
                var itm = data[idx];
                if (itm.id == id) {
                    return itm;
                }
            }
            return null;
        };

        function cleanString{{ id }}(sections) {
            sections = JSON.parse(JSON.stringify(sections));
            for (var idxSection in sections) {
                var section = sections[idxSection];
                for (var idxBlock in section.blocks) {
                    var block = section.blocks[idxBlock];
                    delete block.items;
                }
            }
            return JSON.stringify(sections)
        };
    </script>
{%- endblock content_block_widget -%}