{% macro nest(node, depth) %}
    {% from _self import nest as nest %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    <li class="dd-item dd3-item content-container" data-id="{{ node.id }}">
        <div class="dd-handle dd3-handle"></div>
        <div class="dd-handle dd3-handle"></div>
        <div class="dd3-content">
            <span>{{ node.title }}</span>
            <a href="#" data-content="{{ node.id }}" data-model="{{ node.__modelClass }}" data-status="{{ node.visible }}" class="js-status isactive btn btn-xs btn-circle {{ node.visible ? 'btn-primary' : 'btn-danger' }} btn-outline">
                <i class="fa {{ node.visible ? 'fa-toggle-on' : 'fa-toggle-off' }}"></i>
            </a>
            <a href="/pz/secured/contents/content/Page/{{ node.id }}/edit?returnUrl={{ currentPath|url_encode }}" class="edit btn btn-xs btn-circle btn-primary btn-outline"><i class="fa fa-pencil"></i></a>
            <a href="/pz/secured/contents/content/Page/{{ node.id }}/copy?returnUrl={{ currentPath|url_encode }}" class="copy btn btn-xs btn-circle btn-primary btn-outline"><i class="fa fa-copy"></i></a>
            <a href="#" data-content="{{ node.id }}" data-model="{{ node.__modelClass }}" class="js-delete delete btn btn-xs btn-circle btn-danger"><i class="fa fa-times"></i></a>
        </div>
        {% if node.children|length %}
            <ol class="dd-list">
                {% for itm in node.children %}
                    {{ nest(itm, depth + 1) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endmacro %}
