{% verbatim %}
    <div class="file-box" data-id="{{id}}">
        <button class="pz-file-delete btn btn-danger btn-circle js-file-delete"><i class="fa fa-times"></i></button>
        <div class="file ui-state-default">
            <a href="/pz/files/download/{{id}}/">
                <span class="corner"></span>
                <div class="icon">
                    <img src="/pz/files/image/{{id}}/cms_file_preview/" />
                </div>
                <div class="file-name">
                    {{title}}
                    <br/>
                    <small>{{ __added }}</small>
                </div>
            </a>
        </div>
    </div>
{% endverbatim %}